.btn-group {
    display: flex;
    justify-content: flex-end;
}

.container{
    padding: 2rem;
}

.btn-primary{
    font-size: 12px;
}

.btn-danger{
    font-size: 12px;
}

.btn-success{
    font-size: 12px;
}