.col-md-12{
    padding: 1rem;
}

#firstSection{
    padding: 2rem;
}

#secondSection{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#fourthSection{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#info{
    padding-top: 4px;
    border: 2px black solid;
}

.equal-height-row {
  display: flex;
}

.equal-height-row .col-md-6 {
  display: flex;
  flex-direction: column;
}

