<div class="col-md-12">
  <!-- First Row -->
  <div class="row align-items-center" id="firstSection">
    <div class="col-md-4">
      <img
        _ngcontent-sqj-c1=""
        src="https://d3r8o2i8390sjv.cloudfront.net/application/production/company-logos/837036afcafdc85db3233b388f"
        style="margin: 0 auto; max-width: 100%; max-height: 86px"
      />
    </div>

    <div id="factura-company" class="col-md-4 text-center">
      <label class="x-component x-box-item x-component-default"
        >LS-DA S.A.S</label
      >
      <br />
      <label class="x-component x-box-item x-component-default"
        >NIT: 901658092</label
      >
      <br />
      <label class="x-component x-box-item x-component-default"
        >jjimenez@ls-da.com</label
      >
    </div>
    <div class="col-md-4 text-center">
      <label for="">No. 003</label>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row mt-3" id="secondSection">
    <div class="col-md-3">
      <label for="label1">Contacto</label>
      <select class="form-control" id="label1">
        <option value="company1">AT&T</option>
        <option value="company2">Sabritas</option>
        <option value="company3">Nike</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="label2">Identificacion</label>
      <input type="text" class="form-control" id="label2" />
    </div>
    <div class="col-md-3">
      <label for="label3">Telefono</label>
      <input type="text" class="form-control" id="label3" />
    </div>
    <div class="col-md-3">
      <label for="label8">Fecha</label>
      <input type="date" class="form-control" id="label8" />
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <label for="label5">Forma de Pago</label>
        <select class="form-control" id="label5">
          <option>Contado</option>
          <option>Credito</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="label7">Plazo de Pago</label>
        <select class="form-control" id="label7">
          <option value="">De contado</option>
          <option value="">8 dias</option>
          <option value="">15 dias</option>
          <option value="">30 dias</option>
          <option value="">60 dias</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="label6">Vencimiento</label>
        <input type="date" class="form-control" id="label6" />
      </div>
    </div>
  </div>

  <!-- Third Row -->
  <div
    class="row mt-3"
    *ngFor="let row of rows; let rowIndex = index"
    id="thirdSection"
  >
    <div class="col-md-2">
      <label for="">Item</label>
      <select class="form-control" [(ngModel)]="row.column1">
        <option *ngFor="let item of items" [value]="item.itemName">
          {{ item.itemName }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="">Referencia</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="row.column2"
        [value]="getItemReference(row.column1)"
      />
    </div>
    <div class="col-md-1">
      <label for="">Precio</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="row.column3"
        [value]="getItemPrice(row.column1)"
      />
    </div>
    <div class="col-md-1">
      <label for="">Impuesto</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="row.column4"
        [value]="getItemTax(row.column1)"
      />
    </div>
    <div class="col-md-2">
      <label for="">Descripcion</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="row.column5"
        [value]="getItemDescription(row.column1)"
      />
    </div>
    <div class="col-md-1">
      <label for="">Descuento</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="row.column6"
        (ngModelChange)="calculateRowTotal(rowIndex)"
      />
    </div>
    <div class="col-md-1">
      <label for="">Cantidad</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="row.column7"
        (ngModelChange)="calculateRowTotal(rowIndex)"
      />
    </div>
    <div class="col-md-1">
      <label for="">Total</label>
      <input type="text" class="form-control" [(ngModel)]="row.column8" />
    </div>
    <div class="col-md-1" style="width: 50px">
      <label for="">Acciones</label>
      <button class="btn btn-danger btn-sm" (click)="deleteRow(rowIndex)">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="addRow()">Añadir</button>
    </div>
  </div>

  <!-- Add button to add new rows -->

  <!-- Fourth Row -->

  <div class="row mt-3" id="fourthSection">
    <div class="col-md-6">
      <label for=""> Firmar</label>
      <input type="checkbox" />
    </div>

    <div class="col-md-5 text-right">
      <label for="subtotal">Subtotal</label>
      <br />
      <label for="discount">Descuento</label>
      <br />
      <hr />
      <label for="total">Total</label>
    </div>
    <div class="col-md-1 text-right">
      <label id="subtotal">{{ total }}</label>
      <br />
      <label id="discount">0</label>
      <br />
      <hr />
      <label id="total">{{ total }}</label>
    </div>
  </div>
  <div class="row mt-3 equal-height-row">
    <div class="col-md-6">
      <label for="label1">Terminos y Condiciones</label>
      <p id="info">
        Esta factura se asimila en todos sus efectos a una letra de cambio de
        conformidad con el Art. 774 del código de comercio. Autorizo que en caso
        de incumplimiento de esta obligación sea reportado a las centrales de
        riesgo, se cobrarán intereses por mora.
      </p>
    </div>
    <div class="col-md-6">
      <label for="label2">Notas</label>
      <p id="info">
        LS-DA SAS es una empresa acogida al Régimen Simple de Tributación - RST,
        no estamos sujetos a retenciones a título de Renta ni de ICA, por favor
        no practicar retenciones en la fuente ni de ica.
      </p>
    </div>
  </div>

  <!--------------------------------------------- Fifth Row ---------------------------------------->
  <div class="row mt-3">
    <div class="col-md-12">
      <label for="label1">Resolucion</label>
      <p id="info">
        Autorización de numeración de facturación N°18764042773838 de 2023-01-13
        Modalidad Factura Electrónica Desde N° LSDA1 hasta LSDA10000 con
        vigencia hasta 2024-01-13
      </p>
    </div>
  </div>
  <div>
    <button>Emitir</button>
  </div>
</div>
