<div class="f" style="width: 180px">
  <a
    href="/"
    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
  >
    <svg class="bi pe-none me-2" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">Menu</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#home-collapse"
        aria-expanded="true"
      >
        <i class="fas fa-caret-down ms-2"></i>
        <span class="ms-2">Ingresos</span>
      </button>

      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              href="#"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded nav-link ms-4"
              routerLink="factura-tabla"
              routerLinkActive="active"
              >Facturas de Venta</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse"
        aria-expanded="false"
      >
        <i class="fas fa-caret-down ms-2"></i>
        <span class="ms-2">Contactos</span>
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              href="#"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4"
              routerLink="clientes"
            >
              Clientes</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
