<div class="col-md-12">
  <!-- First Row -->
  <div class="row mt-3">
    <div class="col-md-12">
      <h1>Cliente</h1>
    </div>
  </div>

  <!-- Second Row - Table -->
  <div class="row mt-3">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Identificacion</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of rows; let rowIndex = index">
            <tr>
              <td>
                <input [(ngModel)]="row.nombre" [readonly]="!row.isEditMode" />
              </td>
              <td>
                <input
                  [(ngModel)]="row.identificacion"
                  [readonly]="!row.isEditMode"
                />
              </td>
              <td>
                <input
                  [(ngModel)]="row.telefono"
                  [readonly]="!row.isEditMode"
                />
              </td>
              <td>
                <ng-container *ngIf="!row.isEditMode; else editModeButtons">
                  <button class="btn btn-danger" (click)="deleteRow(rowIndex)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <button class="btn btn-primary" (click)="editRow(rowIndex)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </ng-container>
                <ng-template #editModeButtons>
                  <button class="btn btn-success" (click)="saveRow(rowIndex)">
                    Guardar
                  </button>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Third Row - Add button -->
  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="addRow()">Añadir</button>
    </div>
  </div>
</div>
